In [2]:
game_score = int(input('game_score = '))

if game_score >= 1000:
    print('당신은 고수입니다')

game_score = 1300
당신은 고수입니다

In [7]:
num_a = 100
num_b = 200

if num_a == num_b:
    print('두 값이 일치합니다.')

In [5]:
num_a = 300
num_b = 300

if num_a == num_b:
    print('두 값이 일치합니다.')

두 값이 일치합니다.

In [8]:
n = int(input('정수를 입력하세요 : '))
print('n = ', n)

if n % 2 == 0:
    print(n, '은(는) 짝수입니다.')

정수를 입력하세요 : 50
n =  50
50 은(는) 짝수입니다.

In [9]:
x = int(input('정수를 입력하세요 : '))
print('x = ', x)

if x > 0:
    print(x, '은(는) 자연수입니다.')

정수를 입력하세요 : 50
x =  50
50 은(는) 자연수입니다.

In [11]:
game_score = int(input('게임점수를 입력하시오 : '))
print('game_score = ', game_score)

if game_score < 1000:
    print('입문자입니다.')
else:
    print('고수입니다.')

게임점수를 입력하시오 : 1300
game_score =  1300
고수입니다.

In [13]:
n = int(input('한 정수를 입력하시오 : '))
m = int(input('다른 정수를 입력하시오 : '))

if m == n:
    print('두 값이 일치합니다.')
if m != n:
    print('두 값이 일치하지 않습니다.')

한 정수를 입력하시오 : 300
다른 정수를 입력하시오 : 300
두 값이 일치합니다.

In [15]:
a = int(input('당신은 성인인가요(성인이면 1, 미성년이면 0): '))

if a == 0:
    print('당신은 미성년자입니다.')
else:
    b = int(input('결혼을 하셨나요(기혼이면 1, 미혼이면 0): '))
    if b == 0:
        print('당신은 결혼하지 않은 성인입니다.')
    else:
        print('당신은 결혼한 성인입니다.')

당신은 성인인가요(성인이면 1, 미성년이면 0): 1
결혼을 하셨나요(기혼이면 1, 미혼이면 0): 1
당신은 결혼한 성인입니다.

In [16]:
num = 2
if (num > 1) and (num < 10):
    print('TRUE')

TRUE

In [19]:
age = 12
if (age > 10) and (age < 19):
    print('청소년입니다.')

청소년입니다.

In [21]:
v = int(input('자동차의 속도를 입력하세요(단위 : km/h ): '))

if v >= 100:
    print('고속')
elif (v < 100) and (v >= 60):
    print('중속')
else:
    print('저속')

자동차의 속도를 입력하세요(단위 : km/h ): 130
고속

In [23]:
for i in range(5):
    print('Hello Python!')

Hello Python!
Hello Python!
Hello Python!
Hello Python!
Hello Python!

In [22]:
for i in range(5):
    print(i)

0
1
2
3
4

In [27]:
list(range(1, 101))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [28]:
list(range(2, 101,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [29]:
list(range(1, 101, 2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [30]:
list(range(-99, 1))

[-99,
 -98,
 -97,
 -96,
 -95,
 -94,
 -93,
 -92,
 -91,
 -90,
 -89,
 -88,
 -87,
 -86,
 -85,
 -84,
 -83,
 -82,
 -81,
 -80,
 -79,
 -78,
 -77,
 -76,
 -75,
 -74,
 -73,
 -72,
 -71,
 -70,
 -69,
 -68,
 -67,
 -66,
 -65,
 -64,
 -63,
 -62,
 -61,
 -60,
 -59,
 -58,
 -57,
 -56,
 -55,
 -54,
 -53,
 -52,
 -51,
 -50,
 -49,
 -48,
 -47,
 -46,
 -45,
 -44,
 -43,
 -42,
 -41,
 -40,
 -39,
 -38,
 -37,
 -36,
 -35,
 -34,
 -33,
 -32,
 -31,
 -30,
 -29,
 -28,
 -27,
 -26,
 -25,
 -24,
 -23,
 -22,
 -21,
 -20,
 -19,
 -18,
 -17,
 -16,
 -15,
 -14,
 -13,
 -12,
 -11,
 -10,
 -9,
 -8,
 -7,
 -6,
 -5,
 -4,
 -3,
 -2,
 -1,
 0]

In [34]:
a = 0
b = 0
c = 0

for i in range(1, 101):
    a += i
print('1에서 100까지 정수의 합 : ', a)

for i in range(0, 101, 2):
    b += i
print('1에서 100까지 짝수의 합 : ', b)

for i in range(1, 101, 2):
    c += i
print('1에서 100까지 홀수의 합 : ', c)

1에서 100까지 정수의 합 :  5050
1에서 100까지 짝수의 합 :  2550
1에서 100까지 홀수의 합 :  2500

In [52]:
n = 7
st = '        '
for i in range(n):
    for j in range(i):
        st = ' ' * (n -j)
        
    print(st + '#')

        #
       #
      #
     #
    #
   #
  #